<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This site was created by Paul Kwok. The location data is from mapbox.com and the weather data is from weatherstack.com</p>
        <p>
            <a href="https://github.com/kwokkawai/node3-weather-website"> Github Link </a>
        </p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>